/* Login Page Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-container {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS9cB_tkPdWrTjrzRKZ6jrnzWpl0sW3ygdIQ&s');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .login-box {
    background: #fff;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .login-title {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #333;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2575fc;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .submit-button:hover {
    background-color: #1b5ed0;
  }
  
  p {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  p a {
    color: #2575fc;
    text-decoration: none;
    font-weight: bold;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  