.project-header {
    background-color: #fefefe;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px #00000014;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;
}

.project-header-left {
  flex: 1;
  min-width: 250px;
}

.project-title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-title-row h1 {
    color: #1f2937;
    margin: 0;
    font-size: 36px;
    font-weight: 800;
    line-height: 1.4;
}

.input-title,
.input-description {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.input-description {
  resize: vertical;
  height: 80px;
}

.action-buttons button {
  margin-left: 0.5rem;
  font-size: 1.1rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.action-buttons button:hover {
  color: #007bff;
}

.project-header-left p {
  margin: 0.3rem 0;
  color: #555;
}

.project-header-left p strong {
  color: #000;
}

.project-header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
}

.circular-progress {
  max-width: 100%;
}

.progress-text-main {
  font-size: 1.2rem;
  fill: #333;
  font-weight: bold;
}

.progress-text-sub {
  font-size: 0.9rem;
  fill: #666;
}

.error {
  color: #d32f2f;
  margin-top: 0.5rem;
}
